<main>
  <div class="mt-40 text-center text-danger">
    <h1>
      <i class="fas fa-exclamation-circle"></i>
      Something went wrong
    </h1>
  </div>
  <div class="mt-40 text-center">
    <p class="text-secondary">{{message}}</p>
    <a href="/" class="btn btn-primary mt-20">Return to shop</a>
  </div>
</main>
